<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Sidh/IdeaProjects/Java_Selenium_Udemy"><classes><class name="com.sidh.qa.testscases.Signup_tc"><methods><include name="signUpTest"/></methods></class></classes></test></suite>